<h1 mat-dialog-title>Add Item</h1>
<div mat-dialog-content>
    <form [formGroup]="itemForm">
        <mat-form-field appearance="outline">
            <mat-label>Item Name</mat-label>
            <input matInput placeholder="Enter item name" formControlName="Name">
            <mat-icon matSuffix>border_color</mat-icon>
            <mat-hint>Eg. Bread, Condoms, etc</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Item Quantity</mat-label>
            <input matInput placeholder="Enter item quantity" type="number" formControlName="Quantity">
            <mat-icon matSuffix>border_color</mat-icon>
            <mat-hint>1 Bread, 2 Breads, 100 Breads</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" formControlName="Price">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>

        <!-- Auto-complete for selecting a category -->
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Category</mat-label>
            <input type="text"
                    placeholder="Choose a category"
                    aria-label="Category"
                    matInput
                    formControlName="Category"
                    [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{category}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Ex. I really need this..." formControlName="Notes"></textarea>
        </mat-form-field>
    </form>
</div>
<div matDialogActions [align]="'end'">
    <button mat-raised-button color="warn" matDialogClose>
        Cancel
    </button>
    <button mat-raised-button color="accent" (click)="addProduct()">{{actionBtn}}</button>
</div>
