<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon> border_color</mat-icon>
  </button>
  <span style="font-family: Bradley Hand, cursive">Groceries & More</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" (click)="openDialog()">Add List</button>
</mat-toolbar>
<div class="container">

  <div style="margin-top: 20px;">
    <app-panel></app-panel>
  </div>
  <div style="margin-top: 10px">
    <app-panel></app-panel>
  </div>


</div>